{#{% extends "base.html" %}#}
{##}
{#{% block title %}Welcome{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h1>Welcome {{ new_user.first_name }}!</h1>#}
{#    <p>Your account has been successfully created. Now you can <a href="{% url "login" %}">log in</a>.</p>#}
{#{% endblock %}#}

{% extends 'base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

<section class="py-sm-7 py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row py-lg-7 py-5">
          <div class="col-lg-7 col-md-7 z-index-2 position-relative mx-auto px-md-2 px-sm-5 mt-sm-0 mt-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <form method="post" action="#" role="form">
                <h1>Congratulations {{ user.username }}</h1>
                  <p>You have created a new page. Now you can log in</p>
                    <div class="text-center">
                    <a href="{% url 'login'  %}" class="btn btn-light link-to-page btn-lg w-100 mt-4 mb-0">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
