{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>Delete this ingredient?</h1>#}
{#  <form action="" method="post">#}
{#    {% csrf_token %}#}
{#    <div>#}
{#      <input type="submit" value="Yes" class="btn btn-danger">#}
{#     Or#}
{#    <a href="{% url 'storehouse:ingredient-list' %}" class="btn btn-primary">No</a>#}
{#    </div>#}
{##}
{#  </form>#}
{#{% endblock %}#}

{% extends 'base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="sign-in-illustration" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

  <section class="py-sm-7 py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row py-lg-7 py-5">
          <div class="col-lg-7 col-md-7 z-index-2 position-relative mx-auto px-md-2 px-sm-5 mt-sm-0 mt-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <form method="post" action="#" role="form">
                <h1>Are you sure you want to delete this ingredient?</h1>
                <form action="" method="post" novalidate>
                  {% csrf_token %}
                  {{ form|crispy }}
                  <div class="text-center">
                    <br>
                    <input type="submit" value="Delete" class="btn btn-danger link-to-page btn-lg w-40 mt-4 mb-0">
                    <a href="{% url 'storehouse:ingredient-list' %}" class="btn btn-light link-to-page btn-lg w-40 mt-4 mb-0">Cancel</a>
{#                  <button type="submit" class="btn btn-light link-to-page btn-lg w-100 mt-4 mb-0">Create new ingredient</button>#}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}