{% extends "base.html" %}

{% block content %}
  <h1>
    {{ ingredient.name }}
    <a href="{% url 'storehouse:ingredient-delete' pk=ingredient.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

  </h1>
  <h2>Dishes:</h2>
  <h4>
    <ul>
      {% for dish in dishtype.dish_set.all %}
        <li>
          <a href="{% url 'kitchen:dish-detail' pk=dish.id %}">{{ dish.name }}</a>
        </li>
      {% endfor %}
    </ul>
  <hr>
    Cooks in this sector:
  </h4>
  <hr>
  <ul>
    {% for dish in dishtype.dish_set.all %}
      {% for cook in dish.cooks.all %}
        <li>
          <a href="{% url 'kitchen:cook-detail' pk=cook.id %}">{{ cook.username }}</a> ({{ cook.first_name }} {{ cook.last_name }})
        </li>
      {% endfor %}
  {% endfor %}
  </ul>
  <hr>
{% endblock %}
