{#{% extends "base.html" %}#}
{#{% load crispy_forms_filters %}#}
{##}
{#{% block content %}#}
{#  <h1>#}
{#    Type of dishes#}
{#    <a href="{% url 'storehouse:ingredient-create' %}" class="btn btn-primary link-to-page">#}
{#      Add new ingredient#}
{#    </a>#}
{#  </h1>#}
{##}
{#  <form action="" method="get" class="form-inline">#}
{#    {{ search_form|crispy }}#}
{#    <input class="btn btn-secondary" type="Submit" value="Search">#}
{#  </form>#}
{##}
{#  {% if ingredient_list %}#}
{#    <table class="table">#}
{#      <tr>#}
{#        <th>ID</th>#}
{#        <th>Name</th>#}
{#        <th>Dish</th>#}
{#        <th>Update</th>#}
{#        <th>Delete</th>#}
{#      </tr>#}
{##}
{#      {% for ingredient in ingredient_list %}#}
{#        <tr>#}
{#          <td>#}
{#            {{ ingredient.id}}#}
{#          </td>#}
{#          <td>#}
{#            {{ ingredient.name }}#}
{#          </td>#}
{#          <td>#}
{#            {% if ingredient.dishes %}#}
{#              {% for dish in ingredient.dishes.all %}#}
{#                {{ dish }}#}
{#              {% endfor %}#}
{#            {% else %}#}
{#                None#}
{#            {% endif %}#}
{#          </td>#}
{#          <td>#}
{#              <a href="{% url 'storehouse:ingredient-update' pk=ingredient.id %}">#}
{#                Update#}
{#              </a>#}
{#            </td>#}
{#            <td>#}
{#              <a style="color: red"#}
{#                href="{% url 'storehouse:ingredient-delete' pk=ingredient.id %}">#}
{#                Delete#}
{#              </a>#}
{#            </td>#}
{#        </tr>#}
{#      {% endfor %}#}
{#    </table>#}
{##}
{#  {% else %}#}
{#      <p>There are no ingredients in our service.</p>#}
{#  {% endif %}#}
{#{% endblock %}#}

{% extends 'base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

  <section class="py-sm-7 py-5 position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row py-lg-7 py-5">
          <div class="col-lg-7 col-md-7 z-index-2 position-relative mx-auto px-md-2 px-sm-5 mt-sm-0 mt-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h2 class="mb-0"> Ingredient which we use </h2>
                <div class="d-block">
                  <button  type="button" class="btn btn-light link-to-page" ><a href="{% url 'storehouse:ingredient-create' %}">Create</a></button>
                </div>
              </div>
              <form action="" method="get" class="form-inline">
                {{ search_form|crispy }}
                <input class="btn btn-secondary" type="Submit" value="Search">
              </form>
              <br>
              <div class="ml-3">
                  <table class="table">
                    <tr>
                      <th><h4 class="mb-0"> Name </h4></th>
                      <th><h4 class="mb-0"> Update </h4></th>
                      <th><h4 class="mb-0"> Delete </h4></th>
                    </tr>
                    {% for ingredient in ingredient_list %}
                      <tr>
                        <td>
                          {{ ingredient.name }}
                        </td>
                        <td>
                          <a href="{% url 'storehouse:ingredient-update' pk=ingredient.id %}">Update</a>
                        </td>
                        <td>
                          <a href="{% url 'storehouse:ingredient-delete' pk=ingredient.id %}">Delete</a>
                        </td>
                      </tr>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}
