{% extends 'base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %} class="blog-author bg-gray-100" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

<section class="py-sm-7 py-5 position-relative" >
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto">
        <div class="row py-lg-7 py-5">
          <div class="col-lg-7 col-md-7 z-index-2 position-relative mx-auto px-md-2 px-sm-5 mt-sm-0 mt-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h2 class="mb-0"> Type of dishes </h2>
                <div class="d-block">
                  <button  type="button" class="btn btn-light link-to-page" ><a href="{% url 'kitchen:dish-type-create' %}">Create</a></button>
                </div>
              </div>
              <form action="" method="get" class="form-inline">
                {{ search_form|crispy }}
                <input class="btn btn-secondary" type="Submit" value="Search">
              </form>
              <br>
            <div class="ml-3">
            <br>
              {% if dish_type_list %}
                <table class="table">
                  <tr>
                    <th><h4 class="mb-0"> Name </h4></th>
                    <th><h4 class="mb-0"> Update </h4></th>
                  </tr>
                  {% for dish in dish_type_list %}
                    <tr>
                      <td>
                        <span class="h6"><a href="{% url 'kitchen:dish-type-detail' pk=dish.id %}">{{ dish.name }}</a></span>
                      </td>
                        <td>
                          <a class="btn btn-sm" href="{% url 'kitchen:dish-type-update' pk=dish.id%}"> Update</a>
                        </td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                <p class="text-lg mb-0">
                  <span class="h6">Attention:</span> No dishes in this sector.
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}


